* {
  margin: 0;
  padding: 0;
}
:root {
  --ff: "Quicksand", sans-serif;

  --fw-n: 300;
  --fw-m: 500;
  --fw-b: 700;

  --fs-3: 1.8rem;
  --fs-2: 2.2rem;
  --fs-p: 1.2rem;
  --fs-s: 1rem;

  --spacer: 1.2rem;
  --spacer-sm: calc(var(--spacer) / 4);
  --spacer-md: calc(var(--spacer) * 2);
  --spacer-lg: calc(var(--spacer) * 2);

  /* Tokyo Night Theme */
  --bg-col: #1a1b26;
  --bg-dark: #0f0f14;
  --primary-col: #565f89;
  --primary-light-col: #c0caf5;
  --purp: #bb9af7;
  --blue1: #7aa2f7;
  --blue2: #7dcfff;
  --teal: #2ac3de;
  --mint: #b4f9f8;
  --green1: #73daca;
  --green2: #9ece6a;
  --orange1: #e0af68;
  --oramge2: #ff9e64;
  --red: #f7768e;
}
body {
  background-color: var(--bg-col);
  font-family: var(--ff);
}
pre code {
  background-color: var(--bg-dark);
  color: var(--primary-light-col);
  display: block;
  padding: var(--spacer);
  font-size: var(--fs-s);
}
header {
  padding: var(--spacer);
  display: flex;
  justify-content: space-between;
  color: var(--primary-col);
}
header h2 {
  font-size: var(--fs-2);
  font-weight: var(--fw-m);
  display: flex;
  justify-content: left;
  margin: auto 0;
}
header h3 {
  font-weight: var(--fw-b);
  font-size: var(--fs-p);
  padding: 0 var(--spacer);
}
header a {
  color: var(--primary-col);
  text-decoration: none;
  transition: all ease-out 200ms;
  justify-content: center;
}
header a:hover {
  color: var(--red);
}
.header-menu {
  padding: var(--spacer);
  display: flex;
}
.HTML h1 {
  text-align: center;
  padding: var(--spacer);
  color: #f7768e;
}
.HTML {
  justify-content: center;
  max-width: 80ch;
  margin: 0 auto;
}
.container h2 {
  color: var(--green2);
  font-size: var(--fs-3);
  font-weight: var(--fw-m);
  padding: var(--spacer) 0;
}
.container h3 {
  color: var(--blue1);
  font-weight: var(--fw-n);
  padding: var(--spacer-sm) var(--spacer);
}
.container h3 strong {
  color: var(--teal);
}
