* {
	margin: 0;
	padding: 0;
}
:root {
	--ff: "Quicksand", sans-serif;

	--fw-n: 300;
	--fw-m: 500;
	--fw-b: 700;

	--fs-3: 1.8rem;
	--fs-2: 2.2rem;
	--fs-p: 1.2rem;
	--fs-s: 1rem;

	--spacer: 1.2rem;
	--spacer-sm: calc(var(--spacer) / 4);
	--spacer-smm: calc(var(--spacer) / 2);
	--spacer-md: calc(var(--spacer) * 2);
	--spacer-lg: calc(var(--spacer) * 2);

	/* Tokyo Night Theme */
	--bg-col: #1a1b26;
	--bg-dark: #0f0f14;
	--primary-col: #565f89;
	--primary-light-col: #c0caf5;
	--purp: #bb9af7;
	--blue1: #7aa2f7;
	--blue2: #7dcfff;
	--teal: #2ac3de;
	--green1: #73daca;
	--green2: #9ece6a;
	--orange1: #e0af68;
	--orange2: #ff9e64;
	--red: #f7768e;
	transition: all ease-in-out 2s;
}
body {
	height: 100vh;
	width: 100vw;
	background-color: var(--bg-col);
	font-family: var(--ff);
}
button:hover {
	color: var(--red);
}
button {
	background: none;
	color: var(--primary-col);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
pre code {
	background-color: var(--bg-dark);
	color: var(--primary-light-col);
	display: block;
	padding: var(--spacer);
	font-size: var(--fs-s);
}
header {
	padding: var(--spacer);
	display: flex;
	justify-content: space-between;
	color: var(--primary-col);
	position: relative;
}
header h2 {
	font-size: var(--fs-2);
	font-weight: var(--fw-m);
	justify-content: left;
	margin: auto 0;
}
header h3 {
	font-weight: var(--fw-b);
	font-size: var(--fs-p);
	padding: 0 var(--spacer);
}
header a {
	color: var(--primary-col);
	text-decoration: none;
	transition: all ease-out 200ms;
}
header a:hover {
	color: var(--red);
}
.header-menu {
	padding: var(--spacer);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.HTML h1,
.CSS h1,
.git h1,
.js h1 {
	text-align: center;
	padding: var(--spacer);
	color: var(--red);
}
.HTML,
.CSS,
.git,
.js {
	justify-content: center;
	max-width: 80ch;
	margin: 0 auto;
}
.container {
	padding-bottom: var(--spacer-md);
	display: flex;
	flex-direction: column;
}
.CSS .container h2 {
	color: var(--purp);
}
.container h2 {
	color: var(--green2);
	font-size: var(--fs-3);
	font-weight: var(--fw-m);
	padding: var(--spacer) 0;
}
.container h3 {
	color: var(--blue1);
	font-weight: var(--fw-n);
	padding: var(--spacer-sm) var(--spacer);
}
.CSS .container h3 strong {
	color: var(--orange2);
}
.container h3 strong {
	color: var(--teal);
}
.index-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	color: var(--orange2);
	font-size: var(--fs-2);
}
.index-container h2,
.index-container h3 {
	font-weight: var(--fw-n);
}
.index-container h3 {
	color: var(--green2);
}
#white {
	padding: 1rem;
	background-color: var(--orange2);
	border-radius: 1rem;
}
@media screen and (max-width: 768px) {
	.header-menu {
		flex-direction: column;
	}
	header h3 {
		width: 60%;
		font-weight: var(--fw-b);
		font-size: var(--fs-p);
		padding: var(--spacer-sm) 0;
	}
}
@media screen and (max-width: 576px) {
	.container h2 {
		text-align: center;
	}
	.container h3 {
		padding: var(--spacer-sm) var(--spacer-smm);
	}
}
